<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="loginlog">
 <insert id="insert" parameterType="java.lang.String">
 	insert into loginlog values(#{id},sysdate)
 </insert>
 <select id="select" resultType="java.util.HashMap" parameterType="java.lang.String">
 	select * from loginlog where id like %#{id}%
 </select>
 </mapper>