<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="loginlog">
 <select id="select" resultType="java.util.HashMap" parameterType="java.lang.String">
 	select id, count(*) as cnt from loginlog2 where id like #{id} group by id
 </select>
 <select id="date" resultType="java.util.HashMap" parameterType="java.lang.String">
 </select>
 </mapper>